.message-input {
    bottom: 0;
    display: flex;
    min-height: 3rem;
    position: sticky;
    margin-top: 3rem;
}

input[type="text"] {
    padding: 1rem;
    font-style: italic;
    font-size: 1.6rem;
}

.message-input-text {
    flex-grow: 1;
}

.message-input-button {
    font-size: 1.6rem;
    font-weight: bold;
}