.message {
    display: flex;
    margin-bottom: 1rem;
}

.message-user-avatar {
    height: 36px ;
    width: 36px;
    border-radius: 50%;
    margin: 1rem;
}

.message-info {
    align-items: flex-start;
    background-color: #c0c0c0;
    border-radius: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin-right: 1rem;
}

.message-user-name {
    margin: 0;
}

.message-time {
    align-self: flex-end;
    margin: 0;
    opacity: 50%;
}

.message-like {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    height: 16px;
    position: relative;
    width: 26px;
}

.message-like.message-like-icon {
    bottom: 0;
    fill: #a5a5a5;
    font-size: 2em;
    height: 14px;
    left: 2px;
    position: absolute;
    width: 27px;
}

.message-like-icon:hover {
    fill: red;
    opacity: 0.7;
}

.message-like-active {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    fill: red;
    height: 16px;
    opacity: 0.7;
    position: relative;
    width: 28px;
}

.message-like-active.message-like-icon {
    fill: red;
    opacity: 0.7;
}
